<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/59448096-21de-4938-8a70-641c6d338f1b/resourceGroups/micro-mart/providers/Microsoft.ContainerRegistry/registries/micromartRg</ResourceId>
    <ResourceName>micromartRg</ResourceName>
    <ResourceGroup>micro-mart</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://micromartrg.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>51c2f6a4-7e05-1224-49c4-317cfd4f5655</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>